workflows-to-build/kb-vector-upload-GITHUB.json
{
  "name": "KB Upload - GitHub (Simplest)",
  "nodes": [
    {
      "parameters": {},
      "id": "manual-trigger",
      "name": "Start Upload",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "mode": "list",
          "value": "vector_embeddings"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [680, 300],
      "id": "supabase-vector-store",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "pvE2B3BDrLhctd5B",
          "name": "SupaBase Equity Connect"
        }
      }
    },
    {
      "parameters": {
        "repository": "Zie619/equity-connect",
        "branch": "main",
        "filePaths": "docs/REVERSE_MORTGAGE_VECTOR_DATABASE/reverse_mortgage_kb_section_1_UPDATED.md\ndocs/REVERSE_MORTGAGE_VECTOR_DATABASE/reverse_mortgage_kb_section_2_UPDATED.md\ndocs/REVERSE_MORTGAGE_VECTOR_DATABASE/reverse_mortgage_kb_section_3_UPDATED.md\ndocs/REVERSE_MORTGAGE_VECTOR_DATABASE/reverse_mortgage_kb_section_4_UPDATED.md",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentGithubLoader",
      "typeVersion": 1,
      "position": [680, 480],
      "id": "github-loader",
      "name": "GitHub Document Loader",
      "credentials": {
        "githubApi": {
          "id": "github-creds",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "model": "text-embedding-ada-002",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [680, 120],
      "id": "embeddings-openai",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "openai",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nconsole.log('━━━━━━━━━━━━━━━━━━━━━━━━━━━');\nconsole.log('✅ Knowledge Base Upload Complete!');\nconsole.log(`Total documents uploaded: ${items.length}`);\nconsole.log('━━━━━━━━━━━━━━━━━━━━━━━━━━━');\n\nreturn [{\n  json: {\n    success: true,\n    documents_uploaded: items.length,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "success-summary",
      "name": "Success Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    }
  ],
  "connections": {
    "Start Upload": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "main": [
        [
          {
            "node": "Success Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub Document Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-10-13T00:00:00.000Z",
  "versionId": "1"
}

