workflows-to-build/kb-vector-upload-GOOGLE-DRIVE.json
{
  "name": "KB Upload - Google Drive",
  "nodes": [
    {
      "parameters": {},
      "id": "manual-trigger",
      "name": "Start Upload",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "operation": "list",
        "folderId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "options": {
          "fields": ["id", "name", "mimeType"]
        }
      },
      "id": "google-drive-list",
      "name": "List KB Files",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [460, 300],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "google-drive-creds",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.id }}"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "doConversion": false
            }
          }
        }
      },
      "id": "google-drive-download",
      "name": "Download File Content",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [680, 300],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "google-drive-creds",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get the file content from binary data\nconst fileContent = $input.first().binary.data.toString('utf8');\nconst fileName = $input.first().json.name;\n\n// Extract section number from filename\nconst sectionMatch = fileName.match(/section_(\\d+)/);\nconst section = sectionMatch ? `section_${sectionMatch[1]}` : 'unknown';\n\n// Split by ### headers to create semantic chunks\nconst chunks = fileContent.split(/(?=###\\s)/);\n\nconst documents = [];\n\nchunks.forEach((chunk, index) => {\n  const cleanChunk = chunk.trim();\n  \n  // Only chunks with substantial content\n  if (cleanChunk.length > 100) {\n    const headingMatch = cleanChunk.match(/###\\s+(.+?)(?:\\n|$)/);\n    const heading = headingMatch ? headingMatch[1].trim() : `Part ${index + 1}`;\n    \n    documents.push({\n      json: {\n        pageContent: cleanChunk,\n        metadata: {\n          section: section,\n          section_title: fileName.replace('.md', '').replace('_UPDATED', ''),\n          chunk_heading: heading,\n          chunk_index: index,\n          content_type: 'reverse_mortgage_kb',\n          source: 'barbara_knowledge_base',\n          created_at: new Date().toISOString()\n        }\n      }\n    });\n  }\n});\n\nconsole.log(`✅ ${fileName}: Created ${documents.length} chunks`);\n\nreturn documents;"
      },
      "id": "chunk-docs",
      "name": "Chunk into Sections",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "mode": "list",
          "value": "vector_embeddings"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [1120, 300],
      "id": "supabase-vector-store",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "pvE2B3BDrLhctd5B",
          "name": "SupaBase Equity Connect"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [1120, 480],
      "id": "data-loader",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "model": "text-embedding-ada-002",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [1120, 120],
      "id": "embeddings-openai",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "openai",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nconsole.log('━━━━━━━━━━━━━━━━━━━━━━━━━━━');\nconsole.log('✅ Knowledge Base Upload Complete!');\nconsole.log(`Total chunks uploaded: ${items.length}`);\nconsole.log('━━━━━━━━━━━━━━━━━━━━━━━━━━━');\n\nreturn [{\n  json: {\n    success: true,\n    chunks_uploaded: items.length,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "success-summary",
      "name": "Success Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 300]
    }
  ],
  "connections": {
    "Start Upload": {
      "main": [
        [
          {
            "node": "List KB Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List KB Files": {
      "main": [
        [
          {
            "node": "Download File Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download File Content": {
      "main": [
        [
          {
            "node": "Chunk into Sections",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chunk into Sections": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "main": [
        [
          {
            "node": "Success Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-10-13T00:00:00.000Z",
  "versionId": "1"
}

