workflows/campaign-feeder-daily.json
{
  "name": "Campaign Feeder (Daily to Instantly)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * *"
            }
          ]
        }
      },
      "id": "6fa37496-d0db-49a9-bc04-bc80d5027be2",
      "name": "Cron Trigger (Daily 8am)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [144, -192]
    },
    {
      "parameters": {
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/rpc/vw_campaign_ready_leads",
        "authentication": "headerAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "limit",
              "value": "250"
            }
          ]
        },
        "options": {}
      },
      "id": "63bc82de-e8d9-4cc2-9709-9e5e888a30fe",
      "name": "Get Campaign Ready Leads",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [368, -192]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "6e8edf19-3782-4d76-9d4f-25cf22b94c9e",
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [592, -192]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analyze this lead's demographics and select the most appropriate persona from the personas database.\n\nLead details:\n- First name: {{ $json.first_name }}\n- Last name: {{ $json.last_name }}\n- Gender: {{ $json.gender }}\n- Heritage: {{ $json.persona_heritage }}\n- Age: {{ $json.age }}\n- Property city: {{ $json.property_city }}\n\nUse the 'Get Personas' tool to fetch all available personas, then select the best match based on:\n1. Heritage/ethnicity match\n2. Gender match (male vs female)\n3. Age appropriateness\n4. Cultural relevance\n\nReturn ONLY the persona_id (e.g., 'carlos_rodriguez') as your answer.",
        "options": {}
      },
      "id": "feeb4d17-dd45-49c9-a78f-eda29490a54e",
      "name": "Assign Persona (AI Agent)",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [816, -400]
    },
    {
      "parameters": {
        "functionCode": "// Determine neighborhood from city/zip\nconst lead = $input.item.json;\n\n// Map city to neighborhood slug (simplified)\nconst cityToNeighborhood = {\n  'los angeles': 'hollywood',\n  'hollywood': 'hollywood',\n  'beverly hills': 'beverly-hills',\n  'santa monica': 'santa-monica',\n  'pasadena': 'pasadena',\n  'long beach': 'long-beach'\n};\n\nconst city = (lead.property_city || '').toLowerCase();\nconst neighborhoodSlug = cityToNeighborhood[city] || 'hollywood';\n\nreturn [{\n  json: {\n    ...lead,\n    neighborhood_slug: neighborhoodSlug\n  }\n}];"
      },
      "id": "5e823482-2142-4e54-810d-2985945a1e50",
      "name": "Determine Neighborhood",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1168, -400]
    },
    {
      "parameters": {
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/rpc/upsert_lead",
        "authentication": "headerAuth",
        "options": {}
      },
      "id": "10086384-60ed-4019-a0ca-6e5cd09985c8",
      "name": "Create Microsite",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1392, -400]
    },
    {
      "parameters": {
        "resource": "lead",
        "operation": "addToCampaign",
        "campaign": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "customFields": {}
      },
      "type": "n8n-nodes-instantly.instantly",
      "typeVersion": 1,
      "position": [1616, -400],
      "id": "64d88331-edf1-45fb-9948-e5fc01d05f7a",
      "name": "Add lead to campaign"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "leads"
      },
      "id": "bf388c6b-6a45-4595-8c71-b630117cebbc",
      "name": "Update Lead Campaign Status",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1840, -400],
      "credentials": {
        "supabaseApi": {
          "id": "po6noLWj9epbuiem",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "tableId": "interactions"
      },
      "id": "d91880a5-8dc1-4367-902e-7fcc9ea0bbe2",
      "name": "Create Interaction Record",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [2064, -400],
      "credentials": {
        "supabaseApi": {
          "id": "po6noLWj9epbuiem",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "0a688485-a0a0-45b5-84d0-15828af3aebe",
      "name": "Loop Check",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [2288, -192]
    },
    {
      "parameters": {
        "functionCode": "// Log completion stats\nconst totalProcessed = $node['Split In Batches'].context.noItemsLeft ? \n  $node['Split In Batches'].context.currentRunIndex : 0;\n\nconsole.log(`Campaign feeder complete: ${totalProcessed} leads added to Instantly`);\n\nreturn [{\n  json: {\n    status: 'success',\n    leads_processed: totalProcessed,\n    campaign_id: $env.INSTANTLY_CAMPAIGN_ID,\n    completed_at: new Date().toISOString()\n  }\n}];"
      },
      "id": "7629cf97-9369-4cb1-95d0-fe4131b0458e",
      "name": "Log Completion",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [2512, -192]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "personas"
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [960, -144],
      "id": "5ece1709-841a-478a-8363-997588432db2",
      "name": "Get Personas",
      "credentials": {
        "supabaseApi": {
          "id": "po6noLWj9epbuiem",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [816, -224],
      "id": "9e3f1867-1168-4c49-aa70-e036f32cefe9",
      "name": "Groq Chat Model"
    }
  ],
  "connections": {
    "Cron Trigger (Daily 8am)": {
      "main": [[{"node": "Get Campaign Ready Leads", "type": "main", "index": 0}]]
    },
    "Get Campaign Ready Leads": {
      "main": [[{"node": "Split In Batches", "type": "main", "index": 0}]]
    },
    "Split In Batches": {
      "main": [[{"node": "Assign Persona (AI Agent)", "type": "main", "index": 0}]]
    },
    "Assign Persona (AI Agent)": {
      "main": [[{"node": "Determine Neighborhood", "type": "main", "index": 0}]]
    },
    "Determine Neighborhood": {
      "main": [[{"node": "Create Microsite", "type": "main", "index": 0}]]
    },
    "Create Microsite": {
      "main": [[{"node": "Add lead to campaign", "type": "main", "index": 0}]]
    },
    "Add lead to campaign": {
      "main": [[{"node": "Update Lead Campaign Status", "type": "main", "index": 0}]]
    },
    "Update Lead Campaign Status": {
      "main": [[{"node": "Create Interaction Record", "type": "main", "index": 0}]]
    },
    "Create Interaction Record": {
      "main": [[{"node": "Loop Check", "type": "main", "index": 0}]]
    },
    "Loop Check": {
      "main": [
        [{"node": "Split In Batches", "type": "main", "index": 0}],
        [{"node": "Log Completion", "type": "main", "index": 0}]
      ]
    },
    "Get Personas": {
      "ai_tool": [[{"node": "Assign Persona (AI Agent)", "type": "ai_tool", "index": 0}]]
    },
    "Groq Chat Model": {
      "ai_languageModel": [[{"node": "Assign Persona (AI Agent)", "type": "ai_languageModel", "index": 0}]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {}
}
