workflows/error-handler-dlq-retry.json
{
  "name": "Error Handler (DLQ Retry) v2",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "id": "cron-trigger",
      "name": "Cron Trigger (Every 5 min)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [256, 400]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "dlq"
      },
      "id": "get-dlq-items",
      "name": "Get DLQ Items",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [480, 400],
      "credentials": {
        "supabaseApi": {
          "id": "po6noLWj9epbuiem",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "split-in-batches",
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [704, 400]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.stage }}",
              "value2": "pull"
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "if-pull",
      "name": "IF Pull?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [928, 208]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.stage }}",
              "value2": "enrich"
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "if-enrich",
      "name": "IF Enrich?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1152, 352]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { retry_success: true, stage: $json.stage, dlq_id: $json.id, lead_id: $json.payload?.lead_id } }];"
      },
      "id": "prepare-retry",
      "name": "Prepare Retry",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [1376, 288]
    },
    {
      "parameters": {
        "tableId": "pipeline_events"
      },
      "id": "requeue-event",
      "name": "Requeue Event",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1600, 288],
      "credentials": {
        "supabaseApi": {
          "id": "po6noLWj9epbuiem",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "dlq"
      },
      "id": "delete-dlq",
      "name": "Delete DLQ",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1824, 288],
      "credentials": {
        "supabaseApi": {
          "id": "po6noLWj9epbuiem",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "loop-check",
      "name": "Loop Check",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [2048, 352]
    }
  ],
  "connections": {
    "Cron Trigger (Every 5 min)": {
      "main": [[{"node": "Get DLQ Items", "type": "main", "index": 0}]]
    },
    "Get DLQ Items": {
      "main": [[{"node": "Split In Batches", "type": "main", "index": 0}]]
    },
    "Split In Batches": {
      "main": [
        [
          {"node": "IF Pull?", "type": "main", "index": 0},
          {"node": "IF Enrich?", "type": "main", "index": 0}
        ]
      ]
    },
    "IF Pull?": {
      "main": [
        [{"node": "Prepare Retry", "type": "main", "index": 0}],
        [{"node": "IF Enrich?", "type": "main", "index": 0}]
      ]
    },
    "IF Enrich?": {
      "main": [[{"node": "Prepare Retry", "type": "main", "index": 0}]]
    },
    "Prepare Retry": {
      "main": [[{"node": "Requeue Event", "type": "main", "index": 0}]]
    },
    "Requeue Event": {
      "main": [[{"node": "Delete DLQ", "type": "main", "index": 0}]]
    },
    "Delete DLQ": {
      "main": [[{"node": "Loop Check", "type": "main", "index": 0}]]
    },
    "Loop Check": {
      "main": [[{"node": "Split In Batches", "type": "main", "index": 0}]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {}
}
