workflows/Vector_Upload_GitHub.json
{
  "nodes": [
    {
      "parameters": {},
      "id": "53675d21-5ebe-4fe0-b835-9860ac6af325",
      "name": "Start Upload",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -160,
        128
      ]
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "mode": "list",
          "value": "vector_embeddings"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        64,
        128
      ],
      "id": "7688c2a9-b7a6-426f-aa15-b34c9263971f",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "pvE2B3BDrLhctd5B",
          "name": "SupaBase Equity Connect"
        }
      }
    },
    {
      "parameters": {
        "model": "text-embedding-ada-002",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        0,
        352
      ],
      "id": "f68c5970-bebb-4f59-9198-9231b31e8a08",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "6ixi9uvAMwvxTaVS",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nconsole.log('━━━━━━━━━━━━━━━━━━━━━━━━━━━');\nconsole.log('✅ Knowledge Base Upload Complete!');\nconsole.log(`Total documents uploaded: ${items.length}`);\nconsole.log('━━━━━━━━━━━━━━━━━━━━━━━━━━━');\n\nreturn [{\n  json: {\n    success: true,\n    documents_uploaded: items.length,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "9ef365c8-3480-47fb-8f16-5f692b7089d5",
      "name": "Success Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        128
      ]
    },
    {
      "parameters": {
        "repository": "https://github.com/alexmorris0n/equity-connect",
        "branch": "master",
        "filePaths": "docs/REVERSE_MORTGAGE_VECTOR_DATABASE/reverse_mortgage_kb_section_1_UPDATED.md\ndocs/REVERSE_MORTGAGE_VECTOR_DATABASE/reverse_mortgage_kb_section_2_UPDATED.md\ndocs/REVERSE_MORTGAGE_VECTOR_DATABASE/reverse_mortgage_kb_section_3_UPDATED.md\ndocs/REVERSE_MORTGAGE_VECTOR_DATABASE/reverse_mortgage_kb_section_4_UPDATED.md\ndocs/REVERSE_MORTGAGE_VECTOR_DATABASE/reverse_mortgage_kb_section_5_EXPANDED.md\ndocs/REVERSE_MORTGAGE_VECTOR_DATABASE/reverse_mortgage_kb_section_6_VAPI_SCENARIOS.md",
        "additionalOptions": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentGithubLoader",
      "typeVersion": 1.1,
      "position": [
        200,
        352
      ],
      "id": "9357b496-b51d-4194-a01e-3fc2ef49d5b7",
      "name": "GitHub Document Loader1",
      "credentials": {
        "githubApi": {
          "id": "ltZvlPRNFUHQJhVr",
          "name": "GitHub account"
        }
      }
    }
  ],
  "connections": {
    "Start Upload": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "main": [
        [
          {
            "node": "Success Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "GitHub Document Loader1": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4ca45576dabef27a95f92525a5f6415fb3e8061f7037b2ec7fb4ba1bb1cb56c0"
  }
}