workflows-archive/campaign-feeder-daily.json
{
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "id": "74cb5064-844a-44ec-b8dd-fdbe03757b85",
      "name": "Cron Trigger (Daily 8am)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        -2320,
        304
      ]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "0c92c122-f5e0-4f78-a0db-bc983eae32f2",
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [
        -1888,
        304
      ]
    },
    {
      "parameters": {
        "resource": "lead",
        "operation": "addToCampaign",
        "campaign": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "customFields": {}
      },
      "type": "n8n-nodes-instantly.instantly",
      "typeVersion": 1,
      "position": [
        -1440,
        304
      ],
      "id": "858b2ef3-f577-4cb7-a939-0e46ce9674c9",
      "name": "Add lead to campaign"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "leads"
      },
      "id": "f8c60cec-56a2-44ce-b247-2b5e9ab549fd",
      "name": "Update Lead Campaign Status",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1216,
        304
      ],
      "credentials": {
        "supabaseApi": {
          "id": "pvE2B3BDrLhctd5B",
          "name": "SupaBase Equity Connect"
        }
      }
    },
    {
      "parameters": {
        "tableId": "interactions"
      },
      "id": "7476520d-bdd6-48ba-8058-dad394aaaf96",
      "name": "Create Interaction Record",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -992,
        304
      ],
      "credentials": {
        "supabaseApi": {
          "id": "pvE2B3BDrLhctd5B",
          "name": "SupaBase Equity Connect"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "d3bc4f92-e4ce-43e1-99a1-4a0f5dbacbe1",
      "name": "Loop Check",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [
        -768,
        304
      ]
    },
    {
      "parameters": {
        "jsCode": "// Assign campaign archetype based on PropertyRadar data\nconst lead = $input.first().json;\n\nconst equityAmount = lead.estimated_equity || 0;\nconst isFreeAndClear = lead.radar_property_data?.isFreeAndClear || 0;\n\n// Assignment logic (3 campaigns)\nlet archetype = '';\nlet campaign_name = '';\n\nif (equityAmount > 500000) {\n  archetype = 'high_equity_special';\n  campaign_name = 'High Equity Special';\n} else if (isFreeAndClear === 1) {\n  archetype = 'cash_unlocked';\n  campaign_name = 'Cash Unlocked';\n} else {\n  archetype = 'no_more_payments';\n  campaign_name = 'No More Payments';\n}\n\n// Generic neighborhood (state-based for now, can expand later)\nconst state = lead.property_state || 'CA';\nconst city = lead.property_city || 'Unknown';\nconst neighborhood_slug = `${city.toLowerCase().replace(/\\s+/g, '-')}-${state.toLowerCase()}`;\n\nconsole.log(`${lead.first_name} ${lead.last_name} → ${campaign_name} (${city}, ${state}) | Equity: $${equityAmount.toLocaleString()}`);\n\nreturn [{\n  json: {\n    ...lead,\n    archetype: archetype,\n    campaign_name: campaign_name,\n    neighborhood_slug: neighborhood_slug\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1664,
        304
      ],
      "id": "6a75fc72-35b2-44c6-8179-51fa03293a7e",
      "name": "Assign Campaign Archetype"
    },
    {
      "parameters": {
        "jsCode": "// Log completion stats\nconst allItems = $input.all();\nconst totalProcessed = allItems.length;\n\nconsole.log(`Campaign feeder complete: ${totalProcessed} leads added to Instantly`);\n\nreturn [{\n  json: {\n    status: 'success',\n    leads_processed: totalProcessed,\n    completed_at: new Date().toISOString()\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1664,
        112
      ],
      "id": "161007fe-8de6-40a3-b61e-9781973e2764",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "vw_campaign_ready_leads",
        "limit": 250
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -2112,
        304
      ],
      "id": "c0be47cf-f49c-49fb-b215-6990a35767b7",
      "name": "Get many rows",
      "credentials": {
        "supabaseApi": {
          "id": "pvE2B3BDrLhctd5B",
          "name": "SupaBase Equity Connect"
        }
      }
    }
  ],
  "connections": {
    "Cron Trigger (Daily 8am)": {
      "main": [
        [
          {
            "node": "Get many rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          },
          {
            "node": "Assign Campaign Archetype",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add lead to campaign": {
      "main": [
        [
          {
            "node": "Update Lead Campaign Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Lead Campaign Status": {
      "main": [
        [
          {
            "node": "Create Interaction Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Interaction Record": {
      "main": [
        [
          {
            "node": "Loop Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Check": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assign Campaign Archetype": {
      "main": [
        [
          {
            "node": "Add lead to campaign",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        []
      ]
    },
    "Get many rows": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4ca45576dabef27a95f92525a5f6415fb3e8061f7037b2ec7fb4ba1bb1cb56c0"
  }
}