workflows-archive/pdl-fallback-enrichment.json
{
  "name": "PDL Fallback Enrichment",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 5
            }
          ]
        }
      },
      "id": "f1e2d3c4-b5a6-9780-f1e2-d3c4b5a69780",
      "name": "Every 5 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM pipeline_events WHERE event_type = 'enrich_pdl' AND status = 'pending' ORDER BY created_at ASC LIMIT 25"
      },
      "id": "e2d3c4b5-a6f7-8901-e2d3-c4b5a6f78901",
      "name": "Get Pending PDL Enrichments",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [480, 300],
      "credentials": {
        "supabaseApi": {
          "id": "pvE2B3BDrLhctd5B",
          "name": "SupaBase Equity Connect"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "d3c4b5a6-f7e8-9012-d3c4-b5a6f7e89012",
      "name": "Split Into Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [720, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT id, first_name, last_name, address_line1, property_city, property_state, property_zip, primary_phone FROM leads WHERE id = '{{ $json.lead_id }}'"
      },
      "id": "c4b5a6f7-e8d9-0123-c4b5-a6f7e8d90123",
      "name": "Get Lead Details",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [960, 300],
      "credentials": {
        "supabaseApi": {
          "id": "pvE2B3BDrLhctd5B",
          "name": "SupaBase Equity Connect"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.peopledatalabs.com/v5/person/enrich",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "application/json",
        "jsonBody": "={\n  \"name\": \"{{ $json.first_name }} {{ $json.last_name }}\",\n  \"location\": \"{{ $json.address_line1 }}, {{ $json.property_city }}, {{ $json.property_state }} {{ $json.property_zip }}\",\n  \"min_likelihood\": 4,\n  \"required\": \"emails\"\n}",
        "options": {}
      },
      "id": "b5a6f7e8-d9c0-1234-b5a6-f7e8d9c01234",
      "name": "Call PDL Person API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1200, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "PDL_API_Key",
          "name": "People Data Labs API"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Parse PDL response\nconst leadId = $('Get Lead Details').first().json.id;\nconst existingPhone = $('Get Lead Details').first().json.primary_phone;\nconst response = $input.first().json;\n\n// Extract email (take first personal email if available)\nconst emails = response?.emails || [];\nconst personalEmail = emails.find(e => e.type === 'personal');\nconst primaryEmail = personalEmail ? personalEmail.address : (emails[0]?.address || null);\n\n// Extract phone if available (but keep existing if PDL doesn't have one)\nconst phones = response?.phone_numbers || [];\nconst mobilePhone = phones.find(p => p.type === 'mobile');\nconst primaryPhone = mobilePhone ? mobilePhone.number : (phones[0]?.number || existingPhone);\n\nreturn [{\n  json: {\n    lead_id: leadId,\n    primary_email: primaryEmail,\n    primary_phone: primaryPhone,\n    email_verified: !!primaryEmail,\n    enriched_by: 'pdl',\n    enriched_at: new Date().toISOString(),\n    pdl_data: JSON.stringify(response)\n  }\n}];"
      },
      "id": "a6f7e8d9-c0b1-2345-a6f7-e8d9c0b12345",
      "name": "Parse PDL Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1440, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=UPDATE leads SET primary_email = COALESCE({{ $json.primary_email ? \"'\" + $json.primary_email + \"'\" : \"NULL\" }}, primary_email), primary_phone = COALESCE({{ $json.primary_phone ? \"'\" + $json.primary_phone + \"'\" : \"NULL\" }}, primary_phone), email_verified = {{ $json.email_verified }}, enriched_by = '{{ $json.enriched_by }}', enriched_at = '{{ $json.enriched_at }}', pdl_data = '{{ $json.pdl_data }}'::jsonb WHERE id = '{{ $json.lead_id }}'"
      },
      "id": "f7e8d9c0-b1a2-3456-f7e8-d9c0b1a23456",
      "name": "Update Lead with PDL Data",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1680, 300],
      "credentials": {
        "supabaseApi": {
          "id": "pvE2B3BDrLhctd5B",
          "name": "SupaBase Equity Connect"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=UPDATE pipeline_events SET status = 'complete', completed_at = NOW() WHERE lead_id = '{{ $json.lead_id }}' AND event_type = 'enrich_pdl'"
      },
      "id": "e8d9c0b1-a2f3-4567-e8d9-c0b1a2f34567",
      "name": "Mark PDL Complete",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1920, 300],
      "credentials": {
        "supabaseApi": {
          "id": "pvE2B3BDrLhctd5B",
          "name": "SupaBase Equity Connect"
        }
      }
    },
    {
      "parameters": {},
      "id": "d9c0b1a2-f3e4-5678-d9c0-b1a2f3e45678",
      "name": "NoOp",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [2160, 300]
    }
  ],
  "connections": {
    "Every 5 Minutes": {
      "main": [
        [
          {
            "node": "Get Pending PDL Enrichments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Pending PDL Enrichments": {
      "main": [
        [
          {
            "node": "Split Into Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Into Batches": {
      "main": [
        [
          {
            "node": "Get Lead Details",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "NoOp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Lead Details": {
      "main": [
        [
          {
            "node": "Call PDL Person API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call PDL Person API": {
      "main": [
        [
          {
            "node": "Parse PDL Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse PDL Response": {
      "main": [
        [
          {
            "node": "Update Lead with PDL Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Lead with PDL Data": {
      "main": [
        [
          {
            "node": "Mark PDL Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark PDL Complete": {
      "main": [
        [
          {
            "node": "Split Into Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all"
  },
  "pinData": {}
}

